.Login{
    color: white;
}

.form{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    margin: 1em;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 0.8rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #3276E3;
    background-image: linear-gradient(to top left,
                                    rgba(0, 0, 0, .2),
                                    rgba(0, 0, 0, .2) 30%,
                                    rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.button:hover {
    background-color: #3276E3;
}

.button:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.button-form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nickname{
    margin: 1em;
}

.password{
    margin: 1em;
}

h2{
    display: flex;
    align-items: center;
    justify-content: center;
}